@font-face {
    font-family: 'minecraftia';
    src: local('fonts/Minecraftia.ttf');
}


html, body {
    font-family: 'minecraftia';
    color: #fff;
    font-size:  20;
    background: #000;
    // cursor: url(images/mouse.png), default;
}

#canvas {
    width: auto;
    height: 100%;
    border: 1px dashed #fff;
}
